langchain
langgraph
langchain_core
langchain_openai
langchain_google_genai
langchain_community
langchain_text_splitters
ipykernel
dotenv
pypdf
pymupdf 
pdfplumber
chromadb
ddgs
streamlit
langgraph-checkpoint-sqlite